@tailwind base;
@tailwind components;
@tailwind utilities;

.projects{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}